// ==========================================================================
// Color variables
// ==========================================================================

$color__primary-text: #404040;

$color__link: #5e7e37;
$color__link--visited: $color__link;
$color__link--hover: darken( $color__link, 25% );

$color__pre-background: #eee;
$color__mark-background: #fff9c0;

$color__hr: #ccc;

$color__screen-reader-text-background: #f1f1f1;
$color__screen-reader-text-text: #21759b;

$color__input-text: #666;
$color__input-text--focus: #111;
$color__input-border: #ccc;
