// ==========================================================================
// Color variables
// ==========================================================================

$color__link: #f90;
$color__link--visited: $color__link;
$color__link--hover: darken( $color__link, 25% );

$color__link--nav: #5e7e37;
$color__link--nav--hover: darken( $color__link--nav, 25% );

$color__text: #4b4e53;
$color__text--heading: #1c3d74;
$color__text--secondary: #86a85b;
$color__text--tertiary: #7fa352;
$color__text--highlight: #1c3d74;

$color__background--widget: #f8fbf5;
$color__background--footer: #f5f9fb;
$color__background--nav: #857891;

$color__border: #ebede8;

$color__pre-background: #eee;
$color__mark-background: #fff9c0;

$color__hr: #ccc;

$color__screen-reader-text-background: #f1f1f1;
$color__screen-reader-text-text: #21759b;

$color__input-text: #666;
$color__input-text--focus: #111;
$color__input-border: #ccc;
