// ==========================================================================
// Typography variables
// ==========================================================================

$normal: normal; // Change these values when using custom fonts
$bold: bold; // For example, bold could change to 400;

$base__font-size: 16;
$line-height: 1.5;

// ==========================================================================
// Typefaces
// ==========================================================================

$monospace: 'courier new', monospace;
$serif: Georgia, "Times New Roman", Times, serif;
$sans: Helvetica, Arial, sans-serif;

$font__body: 'Open Sans', $sans;
$font__header: Montserrat, Trebuchet, sans-serif;

// Icons
$genericons: 'Genericons';
$dashicons: 'Dashicons';
