.site-footer {
	padding: $spacing 0;
	margin-bottom: $spacing/2;
	background: $color__background--footer;

	#footer-navigation {
		margin: 0 auto;
	}

	.fb-like {
		float:right;
		text-align: right;
	}
}

.site-info {
	padding: $spacing/2 0 $spacing;
	color: $color__text;
	font-size: 12px;
	text-align: center;
}

