// ==========================================================================
// Menus
// ==========================================================================

#header-navigation,
#footer-navigation {
	margin: $spacing/2 0 0;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		float: left;
		margin-right: $spacing;
	}

	a {
		font-weight: bold;
		color: $color__text--tertiary;
		text-decoration: none;
		line-height: 26px;

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}

#footer-navigation {
	a {
		color: $color__text--heading;
	}
}

#site-navigation {

	position: absolute;
	bottom: 0;
	right: 0;
	display: block;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			display: none;
			float: left;
			left: 0;
			position: absolute;
			top: 41px;
			z-index: 99999;

			background: $color__background--nav;
			border-top: 5px solid $color__background--nav;
			border-bottom: 5px solid $color__background--nav;

			ul {
				left: 100%;
				top: 0;
			}
			a {
				width: 200px;
				padding: $spacing/4 $spacing/2;
				color: white;
				font-weight: $normal;

				&:hover {
					background-color: #98b871;
				}
			}
			li {}
			:hover {// Wat?
				> a {}
			}
		}
	}

	li {
		float: left;
		position: relative;

		&:hover {
			> ul {
				display: block;
			}
			> a {
				background-color: $color__background--nav;
				color: white;
			}
		}
	}

	a {
		display: block;
		padding: $spacing/4 $spacing/2;
		color: $color__link--nav;
		font-size: em( 14 );
		font-weight: $bold;
		text-transform: uppercase;
		text-decoration: none;
	}

	.current_page_item,
	.current-menu-item {
		a {}
	}
}

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 600px) {
	#site-navigation > div > ul { display: none }

	.tinynav {
		display: block
	}

	#site-navigation { clear:both; position: relative; }
	.menu-main-nav-container {
		clear: both;
		padding-top: $spacing/2;
		width: 100%;
	}

}

.site-main {
	.comment-navigation,
	.paging-navigation,
	.post-navigation {
		margin: 0 0 $spacing/2;
		overflow: hidden;
	}
}

.comment-navigation,
.paging-navigation,
.post-navigation {
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
