// ==========================================================================
// Posts and pages
// ==========================================================================

.hentry {
	margin: 0 0 $spacing;

	:first-child {
		margin-top: 0;
	}
}

.byline,
.updated {
	display: none;
}

.single,
.group-blog {
	.byline {
		display: inline;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: $spacing 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $spacing;
}

.page-header {
	min-height: $spacing * 2;
}

.entry-header {
	position: relative;
	top: $spacing * -1;
	padding: 10px $spacing/1.5 20px;
	line-height: 1;
	background-color: rgba(132, 158, 105, 0.9);
	text-align: center;

	.entry-title { margin: 0; }

	.entry-title:before,
	.entry-title:after {
		position: relative;
		content: ' ';
		display: inline-block;
		width: 40px;
		height: 44px;
		margin: 0 40px -5px 0;
		background: url('images/left-leaf.png') no-repeat center;
		background-size: 40px 44px;
	}

	.entry-title:after {
		margin: 0 0 -5px 40px;
		background: url('images/right-leaf.png') no-repeat center;
		background-size: 40px 44px;
	}
}
