
@media screen and (max-width: 700px) {

	#featured .widget {
		width: 100%;
		border-bottom: 1px solid $color__border;

		&:last-of-type {
			border-bottom: none;
		}
	}

	.site-info,
	.site-footer .container {
		padding-left: 1em;
		padding-right: 1em;
	}

	#footer-navigation {
		li {
			float: none;
			display: block;
			margin-right: 0;
			padding: 5px 0;
			text-align: center;
		}
	}

	.site-footer .fb-like {
		float: none;
		margin: 10px auto;
		text-align: center;
		width: 100%;
	}

}

@media screen and (max-width: 600px) {
	#featured {
		top: 0;
	}

	.site-title {
		margin-top: 50px;

		a {
			float: none;
			margin: 0 auto;
		}
	}

	.entry-header {
		padding: 15px $spacing/2;

		.entry-title:before,
		.entry-title:after {
			display:none;
		}
	}

}
