// ==========================================================================
// Sidebar-Content Layout
// ==========================================================================

#page {
	margin: 0 auto;
	max-width: $site-width;
}

.content-area {
	float: right;
	margin: 0 0 0 -25%;
	width: 100%;
}

.site-main {
	margin: 0 0 0 25%;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
}

.front-page {

	.content-area {
		float: none;
		margin: 0;
	}

	.site-main {
		margin: 0;
	}

	.site-content .widget-area {
		float: none;
		width: 100%;
	}

}
