// ==========================================================================
// Typography
// ==========================================================================

body,
button,
input,
select,
textarea {
	color: $color__text;
	font-family: $font__body;
	@include font-size( 14 );
	line-height: $line-height;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
	font-weight: $normal;
}

h1 {
	color: white;
	@include font-size( 28 );
	font-weight: $bold;

}

h2 {
	color: $color__text--highlight;
	@include font-size( 24 );
	font-weight: bold;
}

h3, .widget-title {
	color: $color__text--tertiary;
	@include font-size( 18 );
	font-weight: $normal;

	a, a:visited, a:hover {
		color: $color__text--tertiary;
		text-decoration: none;
	}
}

h4 {
	@include font-size( 14 );
	font-weight: bold;
	text-transform: uppercase;
}

p {
	margin-bottom: $spacing/2;
}
b,
strong {
	font-weight: $bold;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 0 $spacing/2;
}
address {
	margin: 0 0 $spacing/2;
}
pre {
	background: $color__pre-background;
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include font-size( 15 );
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: $color__mark-background;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}