// ==========================================================================
// Typography
// ==========================================================================

body,
button,
input,
select,
textarea {
	color: $color__primary-text;
	font-family: sans-serif;
	font-size: $base__font-size * 1px;
	line-height: $line-height;
}
p {
	margin-bottom: $spacing/2;
}
b,
strong {
	font-weight: $bold;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 0 $spacing/2;
}
address {
	margin: 0 0 $spacing/2;
}
pre {
	background: $color__pre-background;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: $color__mark-background;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}