// ==========================================================================
// Accessibility
// ==========================================================================

.widget {
	margin: 0 0 $spacing/2;

	select { // Make sure select elements fit in widgets
		max-width: 100%;
	}
}

// Search widget
.widget_search .search-submit {
	display: none;
}

.widget-area ol,
.widget-area ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

